body{
    background-color: rgb(247, 247, 241);
}
#carouselExampleInterval{
    max-height: 620px;
    overflow: hidden;
}
.carousel-inner img{
    height: 620px;
    object-fit: cover;
}
h1, h2, h3, h4, h5, h6, p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.imgModal img{
    height: 400px;
    object-fit: cover;
}

.cd:hover{
    transform: translate(8px, 8px) ;
    transition: all 0.3s ease;
}

.sitios img{
    height: 350px; 
    object-fit: cover;
}
.opiniones img{
    width: 60px;
    height: 60px; 
    object-fit: cover;
}

.incluido{
    color: green;
}
.info{
    font-size: 22px;
}
.mapa iframe{
    height: 300px; 
    width: 100%;
    object-fit: cover;
}
.redes{
    height: 50px; 
    width: 50px;
    font-size: 24px;
}